:root{
    --primary-color: #682BE0;
}


.bg-primary{
    background-color: var(--primary-color);
}
.primary{
    background-color: var(--primary-color);
}

.responsive-img {
    width: 100%; /* Mengatur lebar gambar menjadi 100% dari lebar div */
    height: auto; /* Mengatur tinggi gambar agar proporsional dengan lebar yang diatur */
}

body{
    font-family: 'Poppins', sans-serif;
    background-color:#EFF0F0;
}

.hero-bg {
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(43,44,44,1) 0%, rgba(104,43,224,1) 100%);
    /* background: linear-gradient(90deg, rgb(245, 240, 255) 0%, rgb(185, 185, 185) 100%); */
    padding-top: 60px;
    padding-bottom: 50px;
}

.btn-primary{
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.btn-primary:hover{
    background-color: #682BE0;
}

.custom-button{
    width: 200px;
    height: 50px;
}

#statistik {
    background-color: #ffffff;
}

.social{
    color: white;
}

.bg-blue{
    background-color: #682BE0;
}

.bg-blue-gardient{
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(43,44,44,1) 0%, rgba(104,43,224,1) 100%);
}
